/**
*
* "alert"-Components
*
**/

@include component(alert-danger) {
	p { 
		color: $clPaper;
		font-size: 15px;
		font-family: $ffPrimary;
		font-weight: 500;
	}
	
	border: none;
	border-radius: 0;
	background-color: $clDanger;
}
