/**
*
* "form-lined" Component
*
**/

@include component(form-lined) {

	label { 
		color: $clPaper; 
		font-family: $ffPrimary;
		text-transform: uppercase;
	}
	
	input[type="text"] {
		padding: 25px;

		color: $clPaper;
		font-size: 21px;
		font-family: $ffPrimary;
		font-weight: 100;
		line-height: 100%;
		
		border: none;
		border-bottom: 2px solid $clPaper;
		border-radius: 0;
		box-shadow: none;
		background-color: lighten($clPrimary, 3);

		&:focus {
			border-bottom-color: $clSecondary;
		}

	}
}