/**
*
* "form-lined" Component
*
**/

@include component(form-lined) {

	.form-group { 
		margin: 40px 0; 
		overflow: hidden;
	}

	label { 
		color: $clPaper; 
		font-family: $ffPrimary;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
	input[type="text"] {
		padding: 25px;

		color: $clPaper;
		font-size: 21px;
		font-family: $ffPrimary;
		font-weight: 100;
		line-height: 100%;
		
		border: none;
		border-bottom: 2px solid $clPaper;
		border-radius: 0;
		box-shadow: none;
		background-color: lighten($clPrimary, 3);

		&:focus {
			border-bottom-color: $clSecondary;
		}

	}

	.radio {
		label { 
			margin: 0 50px;

			font-size: 21px;
			font-weight: 100;
			line-height: 100%;
			text-transform: none; 
		}
	}

	select {
		text-align: center;
		color: $clPaper;
		font-family: $ffPrimary;
		text-align: center;

		border: 2px solid $clPaper;
		background-color: transparent;
	}

	button[type="submit"] {
		width: 100%;
		padding: 15px 0;
		color: $clPaper;
		font-size: 18px;
		font-family: $ffPrimary;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		
		border-radius: 5px;
		border: 2px solid $clPaper;
		background-color: transparent;

	}
	
}