/**
*
* "group-title"-Component
*
**/

@include component(group-title) {
	margin-bottom: 20px;
	padding: 20px 0;

	color: $clPrimary;
	font-family: $ffPrimary;
	line-height: 150%;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid $clPrimary;
	background-color: lighten($clPrimary, 30);
}
